{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'allauth/css/base.css' %}">
  </head>
  <body>
    <!-- <div class="container"> -->
      {% block body %}

    {% if messages %}
    <div>
      <!-- <strong>Messages:</strong> -->
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <!-- <strong>Menu:</strong> -->
      <ul>
        {% if user.is_authenticated %}
        <!-- <li><a href="{% url 'account_email' %}">Change E-mail</a></li> -->
        <!-- <li><a href="{% url 'account_logout' %}">Logout</a></li> -->
        {% else %}
        <!-- <li><a href="{% url 'account_login' %}">Login</a></li> -->
        <!-- <li><a href="{% url 'account_signup' %}">Register</a></li> -->
        {% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    <!-- </div> -->
  </body>
</html>
