{% extends "account/base.html" %}

{% load static%}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block extra_head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/css/main.css'%}">

{% endblock %}

{% block content %}

<div class="limiter">
    <div class="container-login100" style="background-image: url('{% static 'allauth/images/bg-01.jpg'%}');">
      <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">

          <h1 class="login100-form-title p-b-53"> {% trans "Password Reset" %}</h1>
          <p style="text-align: center;">{% blocktrans %}We have sent you an e-mail. Please {% endblocktrans %}<a style="text-decoration: underline;" href="{% url 'hotel:contact_us'%}">contact us</a> {% blocktrans %} if you do not receive it within a few minutes.{% endblocktrans %}</p>
          <p style="margin-top: 2em; text-align: center;">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
      </div>
    </div>
  </div>
  
  
  <div id="dropDownSelect1"></div>
  
  <!--===============================================================================================-->
  <script src="{% static 'allauth/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'allauth/vendor/animsition/js/animsition.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'allauth/vendor/bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'allauth/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'allauth/vendor/select2/select2.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'allauth/vendor/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'allauth/vendor/daterangepicker/daterangepicker.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'allauth/vendor/countdowntime/countdowntime.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'allauth/js/main.js' %}"></script>    
{% endblock %}
