<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      <div class="product">
        <img
          src="https://i.imgur.com/EHyR2nP.png"
          alt="{{product_name}}"
        />
        <div class="description">
          <h3>{{product_name}}</h3>
          <h5>{{amount}}</h5>
        </div>
      </div>
      <button id="checkout-button">Checkout {{checkout_id}}</button>
    </section>
   
  </body>
  <script>
    const checkout_id = `{{ checkout_id }}`; //Getting checkout_id from Django context.

    var stripe = Stripe("pk_test_51Hu0AzH60lA1oSooKBHVwQkZ3afq3ST2RISi3oc9G35vFQUQSMUESSorx6Sd700QYz5cY5M3Pyxf9mwZVk1nBPGu00LPxShanC");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () { 

      stripe.redirectToCheckout({
        sessionId:`${checkout_id}` //Passing in the checkout_id variable.
      })
      .then(function(result) {
        if (result.error) {
            alert(result.error.message);
          }
      })
      .catch(function (error) {
          console.error("Error:", error);
        })
    });
  </script>
</html>